@model Notebook.Models.BaseEntity

<div class="panel-entity-div">
    <img src="@Url.Content(Model.IcoUri)" alt="Image" class="panel-entity-img" />
    <a href="@Url.Action("Anime", "Details", new { id = "1" })"><p align="center" class="panel-entity-name">@Model.Name</p></a>
</div>

<style type="text/css">
    img.panel-entity-img {
        width: 100% !important;
        height: 90% !important;
    }

    div.panel-entity-div {
        width: 120px !important;
        height: 200px !important;
        float: left;
        margin-right: 1.5%;
        margin-bottom: 1%;
    }
    p.panel-entity-name {
        color: white;
    }
</style>



